/*
 * Created by jub on 23.12.2017.
/*----------------------------------------------------------------
        Category List Styling
----------------------------------------------------------------*/
.category {
    width: 100%;
    display: flex;
    position: relative;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.category:not(:first-child) {
    margin-top: 8px;
}

.label {
    width: var(--label-width);
}

.links {
    width: 100%;
    max-width: calc(100% - var(--label-width));
    border-left: 2px solid;
    transition: border-left 300ms;
}

.links:first-child {
    /*margin-left: 2ch;*/
}

.links:hover {
    border-left: 4px solid;
    transition: border-left 200ms;
}

/* Media */
.category:nth-child(1) {
    color: var(--child1-color);
}

/* Social */
.category:nth-child(2) {
    color: var(--child2-color);
}

/* Games */
.category:nth-child(3) {
    color: var(--child3-color);
}

/* Reddit */
.category:nth-child(4) {
    color: var(--child4-color);
}

/* Code */
.category:nth-child(5) {
    color: var(--child5-color);
}

/* Work */
.category:nth-child(6) {
    color: var(--child6-color);
}

/* Banking */
.category:nth-child(7) {
    color: var(--child7-color);
}

/* Misc */
.category:nth-child(8) {
    color: var(--child8-color);
}